@(robotResults: model.RobotResults)

<!DOCTYPE html>

<html>
    <head>
        <title>Robots</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
        <style>
            label {
                width: 200px;
            }
            form {
                padding: 20px;
            }
            #results {
                padding: 20px;
                border: 2px solid;
            }
        </style>
    </head>
    <body>
        <h2>Robot.txt</h2>
        <form method="GET">
            <label for="site">URL for robots.txt</label>
            <input type="text" name="site" id="site" size="70" value="@robotResults.getSite"/><br/>
            <label for="agent">agent string</label>
            <input type="text" name="agent" id="agent" size="70" value="@robotResults.getAgent"/><br/>
            <label for="path">path/url to request</label>
            <input type="text" name="path" id="path" size="70" value="@robotResults.getPath"/><br/>
            <input type="submit" value="Submit"/>
        </form>
        @if(robotResults.isAuthenticResults) {
            <div id="results">
                <h4>Results</h4>
                From <b>@robotResults.getSite</b> as <b>@robotResults.getAgent</b> requesting <b>@robotResults.getPath</b><br/>
                the result is <b>@robotResults.getPathAllowed</b>.
            </div>
        }
        @if(robotResults.hasError) {
            <b>@robotResults.getErrorString</b>
        }

    </body>
</html>