@(site: String)(agent: String)(path: String)(result: String)

<!DOCTYPE html>

<html>
    <head>
        <title>Robots</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        <h2>Robot.txt</h2>
        <form method="GET">
            <label for="site">URL for robots.txt</label>
            <input type="text" name="site" id="site" value="@site"/><br/>
            <label for="agent">agent string</label>
            <input type="text" name="agent" id="agent" value="@agent"/><br/>
            <label for="path">path/url to request</label>
            <input type="text" name="path" id="path" value="@path"/><br/>
            <input type="submit" value="Submit"/>
        </form>
        From <b>@site</b> as <b>@agent</b> requesting <b>@path</b> the result is <b>@result</b>
    </body>
</html>