<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Robots</title>
        <style>
            label {
                width: 200px;
            }
            form {
                padding: 20px;
            }
            #results {
                padding: 20px;
                border: 2px solid;
            }
        </style>
    </head>
    <body>
        <h2>Robot.txt</h2>
        <form method="GET">
            <label for="site">URL for robots.txt</label>
            <input type="text" name="site" id="site" size="70" th:value="${result.site}"/><br/>
            <label for="agent">agent string</label>
            <input type="text" name="agent" id="agent" size="70" th:value="${result.agent}"/><br/>
            <label for="path">path/url to request</label>
            <input type="text" name="path" id="path" size="70" th:value="${result.path}"/><br/>
            <input type="submit" value="Submit"/>
        </form>
        <div id="results" th:if="${result.authenticResults}">
            <h4>Results</h4>
            From <b th:text="${result.site}">Site</b> as <b th:text="${result.agent}">Agent</b> requesting <b th:text="${result.path}">Path</b><br/>
            the result is <b th:text="${result.pathAllowed}">Allowed</b>.
        </div>
        <div th:if="${result.error}">
            <b th:text="${result.errorString}">Error</b>
        </div>
    </body>
</html>
